@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Ja"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/Styles.css">
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body class="body-menu">
    <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Alunos</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Notas</a></li>
                            <li><a href="#">Turma</a></li>
                            <li><a href="#">Professor</a></li>
                            <li><a href="#">Diciplinas</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="#">Professores</a>
                     <div class="sub-menu-1">
                         <ul>
                             <li><a href="#">Notas</a></li>
                             <li><a href="#">Turma</a></li>
                             <li><a href="#">Cursos</a></li>
                             <li><a href="#">Diciplinas</a></li>
                         </ul>
                     </div>
                </li>
                <li><a href="#">Cadastros</a></li>
            </ul>
    </nav>           
</body>
</html>
